### first program

In [1]:
print("Hello world")

Hello world

### variables

In [2]:
a=3

#### display memory usage

In [3]:
%whos

Variable   Type    Data/Info
----------------------------
a          int     3

#### show the type of individual variable

In [4]:
print(type(a))

<class 'int'>

In [5]:
a=1.25

In [6]:
%whos

Variable   Type     Data/Info
-----------------------------
a          float    1.25

In [7]:
b="str"

In [8]:
%whos

Variable   Type     Data/Info
-----------------------------
a          float    1.25
b          str      str

#### assignning multiple variables at once

In [9]:
a,b=3.5,"data"

In [10]:
%whos

Variable   Type     Data/Info
-----------------------------
a          float    3.5
b          str      data

In [11]:
string="Hello world"

In [12]:
print(string)

Hello world

#### deleting the variable

In [13]:
del string

In [14]:
print (string)

NameError: name 'string' is not defined

#### basic operators

In [ ]:
a=10
b=3

print(a+b) #addition
print(a-b) #substraction
print(a/b) #division
print(a*b) #multiplication
print(a%b) #mod

#### floor division

$10 / 3=3.33333 \newline 10 // 3=3$

In [ ]:
print(a//b)

#### power

$10**3=10^3$

In [ ]:
print(a**b)

In [ ]:
%whos

#### booleans

In [ ]:
a=True
b=False

checks if a is true

In [ ]:
if(a):
    print("a is true")

checks if b is true

In [ ]:
if(b):
    print("b is true")

In [ ]:
!a

In [ ]:
not(True)

In [ ]:
if(!a):
    print a

#### logic operations

true and false is false

In [ ]:
print(a and b)

true or false is true

In [ ]:
print(a or b)

In [ ]:
(a and b) or not(b or a)

#### comparisons

In [16]:
print(3<4) #this gives boolean data type

True

In [1]:
type(3<4)

bool

### some  functions

#### ```round()```

```round()``` converts a float to nearest integer

In [2]:
a=round(3.7687)

print(a)

4

it can take 2 parameters as to round off upto nth number

In [3]:
a=round(3.2784, 3)

print(a)

3.278

#### ```divmod()```

```divmod()``` outputs quotent and remainder in **tuple**

In [5]:
a=divmod(27,5) #quotent=5 and remainder=2

print(a)

(5, 2)

In [6]:
%whos

Variable   Type     Data/Info
-----------------------------
a          tuple    n=2

In [7]:
a[0]

5

In [8]:
a[1]

2

```isinstance()``` checks if the variable is a data type class or not

In [12]:
print(isinstance(1.0,int))

False

In [13]:
print(isinstance(1.0,float))

True

#### ```isinstance()```

checks if 3.4 is float or int

In [14]:
isinstance(3.4,(float,int))

True

#### ```pow()```

```pow()``` takes three args as

In [15]:
pow(2,4)

16

In [16]:
pow(2,4,7) #2^4%7

2

#### ```input()```

```input()``` function is used to take uder input from prompt

In [1]:
x=input("Enter a number: ")

Enter a number: 10

In [2]:
x

'10'

but the value is stored as **str**

In [4]:
type(x)

str

it can be converted to int as

In [5]:
x=int(x)

In [6]:
type(x)

int

In [8]:
y=float(input("Enter a decimal value:"))

Enter a decimal value:10.5

In [9]:
type(y)

float

#### using documentation for built in functions

In [10]:
pow?

In [12]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

### control flow (if condition)

In [16]:
a=int(input("Enter a: "))
b=int(input("Enter b: "))

if(a>b):
    print(a," is greater than",b )
elif a==b:
    print(a," is equal to ",b)
else:
    print(b," is greater than ",a)

Enter a: 10
Enter b: 10
10  is equal to  10

python code to take a float no and convert to int and check if it is even or not

In [3]:
a=float((input("Enter a: ")))

a=round(a)


if(a%2==0):
    print("Even")
else:
    print("odd")

Enter a: 13.1
odd

#### while loop

In [6]:
i=1

while(i<=5):
    print(i)
    i+=1

1
2
3
4
5

#### break and continue statements

**break:** moves the control flow out of the loop 


**continue:** moves the control flow to skip the current iteration and go to next loop iteration

In [26]:
for i in range(limit+1):
    
    
    
    if(i==0):
        continue #skips the iteration where i=0
    else:
        print(n,"X", i, "= ", n*i)
        
    i += 1

7 X 1 =  7
7 X 2 =  14
7 X 3 =  21
7 X 4 =  28
7 X 5 =  35
7 X 6 =  42
7 X 7 =  49
7 X 8 =  56
7 X 9 =  63
7 X 10 =  70

**EXAMPLE PROGRAM:** print only the elements that are divisible by 3

In [3]:
limit=int(input("Enter the limit: "))

i=1

while (i<=limit):
    if (i%3==0):
        print(i)
    
    i+=1

Enter the limit: 10
3
6
9

**EXAMPLE PROGRAM** program to print the multiplication table of any number upto 10

In [11]:
n = int(input("Enter the number: "))

limit = 10
i = 1

while i <= limit:
    print(n,"X", i, "= ", n*i)
    i += 1

Enter the number: 7
7 X 1 =  7
7 X 2 =  14
7 X 3 =  21
7 X 4 =  28
7 X 5 =  35
7 X 6 =  42
7 X 7 =  49
7 X 8 =  56
7 X 9 =  63
7 X 10 =  70

**FOR LOOP**

start from 1 to 11 by taking 1 iteration next each time

In [31]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

else part in **FOR LOOP** in python

In [43]:
set={"Ram","Hari","Sita"}

for i in set:
    #skip Hari
    if(i=="Hari"):
        continue
        
    print(i)
        #break
# else portion in for loop is executed after loop complete
else:
    print("Loop completed")

Sita
Ram
Loop completed

### Dictionary

it is a data type in python where there is a key:value

In [44]:
D={"A":10,"B":20,"C":"Ram"}

print(D)

{'A': 10, 'B': 20, 'C': 'Ram'}

**printing values**

In [48]:
for i in D:
    print(D[i])

10
20
Ram

**printing keys**

In [49]:
for i in D:
    print(i)

A
B
C

**practice:** take a list of numbers and sort the elements and add it to next list

In [14]:
List=[1,2,4,-5,7,9,3,2]

m=L[0]
index=0
count =0

for i in List:
    if(i<m):
        m=i
        index=count 
    
    count+=1

print(m,index)

-5 3